#regs{
    color:black;
    text-align: center;
    min-height:270px;
    /* border:3px dotted black; */
    padding-top:10px;
    padding-bottom:5px;
    font-size: 20px;
}

@media (max-width: 426px) { 
    #regs{
        font-size: 10px;
      }
    }

#regs img{
    height:275px;
    border-radius:100%;
    padding:10px;
    padding-bottom:20px;
}

@media (max-width: 426px) { 
    #regs img{
        height:200px;
        border-radius:0%;
      }
    }

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
        background-color: black;
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

.type{
    font-size: xx-large;
    font-weight:bolder;
    border-bottom:2px solid goldenrod;
    padding-bottom:20px;
    margin-bottom:40px;
}

.over:hover{
    /* background-image: url("/img/jumbotrons/3_3.jpeg"); */
    background-color:rgb(236, 218, 170);
}

#space{
    margin-bottom:150px;
    margin-top:70px;
    margin-left:100px;
    margin-right:100px;
}

#space2{
    margin-top:100px;
    margin-left:100px;
    margin-right:100px;
    margin-bottom:200px;
}

@media (max-width: 426px) { 
    #space{
        margin-bottom:100px;
        margin-top:70px;
        margin-left:50px;
        margin-right:50px;
      }
    }

@media (max-width: 426px) { 
        #space2{
            margin-top:100px;
        margin-left:50px;
        margin-right:50px;
        margin-bottom:200px;
          }
        }

/*second squares*/
#spaces{
    margin-top:50px;
    margin-bottom:100px;
}

.overone{
    background-image:url("../img/registration/youth.png");
    font-display: none;
}

.overone:hover{
    background-image:none;
    background-color:goldenrod;
    font-display:initial;
}

/*old squares*/

#regs2{
    color:black;
    text-align: center;
    min-height:270px;
    /* border:3px dotted black; */
    padding-top:10px;
    padding-bottom:5px;
    font-size: 20px;
    border:2px solid black;
    margin:30px;
}

@media (max-width: 426px) { 
    #regs2{
        font-size: 10px;
      }
    }

#regs2 img{
    height:250px;
    padding:10px;
    padding-bottom:20px;
}

/*accodion*/
.card-header{
    background-color: goldenrod;
}

.card-header a{
    font-size: x-large;
    font-weight: bold;
}

.card-header a:after{
    color:white;
}

.card-header a:hover{
    color:white;
}

a:active {
    color: green;
}

#imgaccord{
    padding-right:20px;
}

/*tabs*/
  
  /* Style tab links */
  .tablink {
    background-color: #777;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    padding-bottom:50px;
    width: 33.333334%;
    border:2px solid black;
  }

  .tablink img{
    height:100%;
    width:60%;
    border-radius: 3%;

  }
  
  .tablink:hover {
    background-color: #555;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    display: none;
    padding: 20px 20px;
    height: 100%;
    width:100%;
    border:2px solid black;
  }
  
  #YouthTab {background-color: rgb(236, 218, 170);}
  #TeenTab {background-color: rgb(236, 218, 170)}
  #AdultTab {background-color: rgb(236, 218, 170)}
